<!DOCTYPE html>
<html>
  <head>
    <meta charser="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Malay Online Virtual Integrated Corpus">
    <title>Movic | Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
  </head>
  <body>
      <header>
          <div class="container">
            <div id="branding">
              <h1><span class="highlight">Malay</span> Online Virtual Integrated Corpus</h1>
            </div>
            <nav>
              <ul>
                <li class="current"><a href="http://127.0.0.1:8000/home">Home</a></li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
                <li><a href="http://127.0.0.1:8000/feedback">Feedback</a></li>
              </ul>
            </nav>
          </div>
        </header>
        <section id="showcase">
    <div class="container">
      <h1>Korpus Melayu</h1>
      <pre>
        "Pucuk pauh delima batu,
         Anak sembilang di tapak tangan;
         Biarpun jauh beribu batu,
         Hilang di mata di hati jangan.
      </pre>
    </div>
  </section>
  
       
    {% block body%}
    
    {% endblock %}
    <footer>
        <p>Movic Web Design, Copyright &copy; 2018</p>
      </footer>
  </body>
</html>
